{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs"
      }
    ],
    [
      "react-app",
      {
        "absoluteRuntime": false,
        "useESModules": false
      }
    ]
  ]
}
